# Environment Variables Template
# Copy this file to .env and update the values

# Server Configuration
PORT=5000
NODE_ENV=development
TEST_PRIVATE_KEY= 8888888888888888888888888888888888888888888888888888888888888888
# MongoDB Configuration
MONGO_URI=mongodb://localhost:27017/pulsepay
# For MongoDB Atlas:
# MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/pulsepay?retryWrites=true&w=majority

# JWT Configuration (if you plan to use authentication)
# JWT_SECRET=your_super_secret_jwt_key_here_change_in_production
# JWT_EXPIRE=30d

# CORS Configuration
# CORS_ORIGIN=http://localhost:3000

# Other Configuration
# API_KEY=your_api_key_here

